#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

*{
  font-family: monospace;
  color: bisque;
  font-weight: bold;
}

.add-clothing-item-button{
  margin-top: 20px;  
  font-size: 12px;       
  border-radius: 3px;    
  border: 1px solid bisque; 
  background-color: black; 
  color: bisque;           
  cursor: pointer;        
  text-align: center;     
  display: inline-block; 

}

.custom-select {
  background-color: black; 
  color: bisque;            
  border: 1px solid black; 
  padding: 10px;          
  border-radius: 5px;     
  font-size: 10px;        
  width: 200px;           
}

.custom-select option {
  background-color: black; 
  color: #fff;            
}

.custom-select option:hover {
  background-color: black; 
}

ul{
  list-style-type: none;
  
}

.nav-to-style{
  color: bisque;
  font-weight: bold;
  border-radius: 3px;    
  border: 1px solid black; 
}

nav{
  
}

.outfit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust the gap between items as needed */
}

.top-item {
  order: 1;
}

.bottom-item {
  order: 2;
}

.shoes-item {
  order: 3;
}

.outfit-container img {
  max-width: 100px; 
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.outfit-container p {
  text-align: center;
  margin: 0;
}


